name: Build Test
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'
          cache: 'maven'
      - name: Build with Maven
        run: |
          mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V -Pci
